<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<link th:replace="~{fragments :: script}"></link>
	<title>Lista Pizze</title>
</head>

<body>

	<h1>LISTA PIZZE</h1>
	
	<form action="/pizze">
		<label>Filtra pizze: </label>
		<input type="text" name="keyword">
		<input type="submit">
	</form>
	
	<h3><a th:href="@{'pizze/create'}">Crea nuova pizza</a></h3>
	
	<h2 th:if="${pizze.size()==0}">
		Non ci sono pizze salvate!
	</h2>
	<table class="table table-striped table-bordered" th:unless="${pizze.size()==0}">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Descrizione</th>
	      <th scope="col">Url foto</th>
	      <th scope="col">Prezzo</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="pizza : ${pizze}">
	      <th scope="row" th:text="${pizza.id}"></th>
	      <td><a th:href="@{'pizze/'+${pizza.id}}" th:text="${pizza.nome}"></a></td>
	      <td th:text="${pizza.descrizione}"></td>
	      <td th:text="${pizza.foto}"></td>
	      <td th:text="${pizza.prezzo}"></td>
	    </tr>
	  </tbody>
	</table>
	
</body>

</html>