<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<title>Modifica Offerta</title>
</head>

<body>

	<div class="container">
	
		<div th:replace="~{fragments :: navbar('editOfferta')}"></div>
	
		<h1>Modifica offerta</h1>

		<form id="offerta-form" th:object="${offerta}" th:action="@{|/offerte/edit/${offerta.id}|}" method="post">
		
			<input type="hidden" th:field="${offerta.pizza}">
			<input type="number" id="id" th:field="*{id}" class="d-none">
			
			<label for="titolo">Titolo</label>
			<input type="text" id="titolo" th:field="*{titolo}">
			
			<label for="inizioOfferta">Inizio offerta</label>
			<input type="date" id="inizioOfferta" th:field="*{inizioOfferta}">
			
			<label for="fineOfferta">Fine Offerta</label>
			<input type="date" id="fineOfferta" th:field="*{fineOfferta}">
			
			<input type="submit">
		</form>
	</div>	
	
</body>

</html>