<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link th:replace="~{fragments :: head}"></link>
	<title th:if="${offerta.id} == null">New Offerta</title>
	<title th:if="${offerta.id} != null">Edit Offerta</title>
</head>

<body>

	<div class="container">
	
		<h1 th:if="${offerta.id} == null">Inserisci nuova offerta</h1>
		<h1 th:if="${offerta.id} != null">Modifica offerta</h1>

		<form id="offerta-form" th:object="${offerta}" th:action="@{'/offerte/insert/'}" method="post">
			<ul>
				<li class="text-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
			</ul>
			
			<input type="hidden" th:field="${offerta.pizza}">
			<input type="number" id="id" th:field="*{id}" th:errorClass="is-invalid" class="d-none">
			
			<label for="titolo">Titolo</label>
			<input type="text" id="titolo" th:field="*{titolo}" th:errorClass="is-invalid">
			
			<label for="inizioOfferta">Inizio offerta</label>
			<input type="date" id="inizioOfferta" th:field="*{inizioOfferta}" th:errorClass="is-invalid">
			
			<label for="fineOfferta">Fine Offerta</label>
			<input type="date" id="fineOfferta" th:field="*{fineOfferta}" th:errorClass="is-invalid">
			
			<a th:href="@{'/pizze'}">Annulla</a>
			
			<input type="submit">
		</form>
	</div>	
	
</body>

</html>