<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>TLS TEST - OK</title>
</head>

<body>

	<div sec:authorize="isAuthenticated()">
		TEST AUTENTICATO: TRUE
	</div>
	<div sec:authorize="hasAuthority('ADMIN')">
		TEST AUTHORITY: ADMIN
	</div>
	<div sec:authorize="hasAuthority('USER')">
		TEST AUTHORITY: USER
	</div>
	
	<div>
		AUTENTICAZIONE A NOME: <span sec:authentication="name">xxx</span>
	</div>
	<div>
		PRIVILEGI: <span sec:authentication="principal.authorities">yyy</span>
	</div>
	
</body>

</html>